<div data-w-id="c87e6653-5d09-b97b-2d6a-ee93d9db713c" data-animation="default" data-collapse="all" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container navbar-container w-container">
      <a href="index.html" class="navbar-brand-dark w-nav-brand"><img src="images/advicen.svg" loading="lazy" alt="" class="image-full contain"></a>
      <a href="old-home.html" class="navbar-brand-light w-nav-brand"><img src="images/advice.svg" loading="lazy" alt="" class="image-full contain"></a>
      <div class="navbar-cta">
        <div class="mobile-display-none">
          <a href="index.html" class="button button-s button-outline-black w-inline-block">
            <div class="text-r weight-500">Español</div>
            <div class="svg-icon _20x20 w-embed"><svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5 9.00293L12 16.5029L4.5 9.00293" stroke="#030712" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg></div>
          </a>
        </div>
        <div class="button button-s button-only-icon button-outline-black w-nav-button">
          <div class="navbar-humburger-icon w-embed"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.125 10H16.875" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M3.125 5H16.875" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M3.125 15H16.875" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></div>
          <div class="navbar-close-icon w-embed"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.625 4.375L4.375 15.625" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M15.625 15.625L4.375 4.375" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></div>
        </div>
      </div>
    </div>
    <nav role="navigation" class="navbar-menu w-nav-menu">
      <div class="navbar-menu-link-wrapper">
        <div class="divider-horizontal"></div>
        <div class="section-content rows-gap-40px mobile-rows-gap-32px">
          <div class="navbar-link-wrapper">
            <a href="index.html" class="navbar-link w-inline-block">
              <h2 class="color-neutral-0">Inicio</h2>
            </a>
            <div class="mobile-display-none">
              <a href="index.html" class="button button-only-icon button-outline-white w-inline-block">
                <div class="svg-icon _24x24 w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
            </div>
          </div>
          <div class="navbar-link-wrapper">
            <a href="beneficios.html" aria-current="page" class="navbar-link w-inline-block w--current">
              <h2 class="color-neutral-0">Beneficios</h2>
            </a>
            <div class="mobile-display-none">
              <a href="beneficios.html" aria-current="page" class="button button-only-icon button-outline-white w-inline-block w--current">
                <div class="svg-icon _24x24 w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
            </div>
          </div>
          <div class="navbar-link-wrapper">
            <a href="adviceme-advisors.html" class="navbar-link w-inline-block">
              <h2 class="color-neutral-0">Consultores</h2>
            </a>
            <div class="mobile-display-none">
              <a href="adviceme-advisors.html" class="button button-only-icon button-outline-white w-inline-block">
                <div class="svg-icon _24x24 w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
            </div>
          </div>
          <div class="navbar-link-wrapper">
            <a href="nosotros.html" class="navbar-link w-inline-block">
              <h2 class="color-neutral-0">Nosotros</h2>
            </a>
            <div class="mobile-display-none">
              <a href="nosotros.html" class="button button-only-icon button-outline-white w-inline-block">
                <div class="svg-icon _24x24 w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
            </div>
          </div>
          <div class="navbar-link-wrapper">
            <a href="contacto.html" class="navbar-link w-inline-block">
              <h2 class="color-neutral-0">Contacto</h2>
            </a>
            <div class="mobile-display-none">
              <a href="contacto.html" class="button button-only-icon button-outline-white w-inline-block">
                <div class="svg-icon _24x24 w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
            </div>
          </div>
        </div>
        <div class="divider-horizontal"></div>
        <div class="navbar-footer-content">
          <div class="navbar-footer-left-content">
            <div class="text-xl weight-600 color-neutral-50">Contacto</div>
            <div class="navbar-footer-left-content-link-wrapper">
              <a href="#" class="link-text link-text-capitalized color-neutral-0 w-inline-block">
                <div class="text-r weight-500">WHATSAPP</div>
                <div class="svg-icon _24x24 w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M8.25 6H18V15.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
              <a href="#" class="link-text link-text-capitalized color-neutral-0 w-inline-block">
                <div class="text-r weight-500">AYUDA</div>
                <div class="svg-icon _24x24 w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M8.25 6H18V15.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
</div>